#Exclude default file storage directory
/upload/
*.zip

#/ru/test/*
#/ru/form/*
#/en/test/*


# IDE
.idea/
nbproject/

# SEO
/robots.txt
/sitemap*.xml
.htsecure

.DS_Store
.AppleDouble
.LSOverride
.vs
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

page.html
debug.log